#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


#define COMBO(NAME, BINDINGS, KEYPOS, LAYER) \
  combo_##NAME { \
    timeout-ms = <50>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYER>; \
  };

/ {


        behaviors {
                hm: homerow_mods {
                        compatible = "zmk,behavior-hold-tap";
                        label = "HOMEROW_MODS";
                        #binding-cells = <2>;
                        tapping_term_ms = <190>;
                        quick-tap-ms = <175>;
                        flavor = "tap-preferred";
                        bindings = <&kp>, <&kp>;
                };
        };

        combos {
                compatible = "zmk,combos";
                COMBO(bt, &tog 1, 8 12, 0 1 2 3 4 5)
                COMBO(to0, &to 0, 0 3, 5)
                COMBO(to2, &to 2, 0 3, 0)
                COMBO(to3, &to 3, 0 3, 2)
                COMBO(to4, &to 4, 0 3, 3)
                COMBO(to5, &to 5, 0 3, 4)
     
        };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default";
            
            bindings =<
                &kp N7      &kp N8    &kp N9
                &kp N4      &kp N5    &kp N6    &kp N3    &kp N6 
                &kp N1      &kp N2              &kp N3    &kp KP_DOT    &kp N6
            >;

        };

        number_layer {
            display-name = "number";

            bindings =<
                &trans      &trans    &trans
                &trans      &trans    &trans    &trans    &trans
                &trans      &trans              &trans    &trans    &trans
            >;

        };

        function_layer {
            display-name = "Function";

            bindings =<
                &trans      &trans    &trans
                &trans      &trans    &trans    &trans    &trans
                &trans      &trans              &trans    &trans    &trans
            >;

        };

        extra_layer1 {
            display-name = "Extra1";

            bindings =<
                &trans      &trans    &trans
                &trans      &trans    &trans    &trans    &trans
                &trans      &trans              &trans    &trans    &trans
            >;

        };
        extra_layer2 {
            display-name = "Extra2";

            bindings =<
                &trans      &trans    &trans
                &trans      &trans    &trans    &trans    &trans
                &trans      &trans              &trans    &trans    &trans
            >;

        };
        extra_layer3 {
            display-name = "Extra3";

            bindings =<
                &trans      &trans    &trans
                &trans      &trans    &trans    &trans    &trans
                &trans      &trans              &trans    &trans    &trans
            >;

        };
    };
};
