#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;

#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <50>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <0>; \
  };

/ {

        behaviors {
                hm: homerow_mods {
                        compatible = "zmk,behavior-hold-tap";
                        label = "HOMEROW_MODS";
                        #binding-cells = <2>;
                        tapping_term_ms = <190>;
                        quick-tap-ms = <175>;
                        flavor = "tap-preferred";
                        bindings = <&kp>, <&kp>;
                };
        };

        combos {
                compatible = "zmk,combos";
                      
                COMBO(up, &kp UP, 3 4)
                COMBO(home, &kp HOME, 2 3)
                COMBO(end, &kp END, 4 5)
                COMBO(dw, &kp LEFT, 7 8)
                COMBO(lf, &kp RIGHT, 9 10)
                COMBO(rt, &kp DOWN, 8 9)
                COMBO(extra, &tog 1, 15 16)
     
        };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default";

            bindings = <
                &kp N7      &kp N8    &kp N9    &kp STAR
                &kp N4      &kp N5    &kp N6    &kp KP_SLASH
                &kp N1      &kp N2    &kp N3    &kp KP_DOT
                &tog 1    &kp N0
            >;
        };

        number_layer {
            display-name = "extra";

            bindings =<
                &trans      &trans    &trans    &trans
                &trans      &trans    &trans    &trans
                &trans      &trans    &trans    &trans
                &trans  &trans
            >;
        };

        function_layer {
            display-name = "Function";

            bindings =<
                &trans      &kp UP   &trans    &trans
                &kp RIGHT      &kp DOWN    &kp LEFT    &trans
                &trans      &trans    &trans    &trans
                &trans  &trans
            >;
        };

        extra_layer {
            display-name = "system";

            bindings =<
                &trans      &trans    &trans    &trans
                &trans      &trans    &trans    &trans
                &trans      &trans    &trans    &trans
                &trans  &trans
            >;
        };
    };
};
